/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand: #d65f02;
  --vp-c-brand-light: #df3314;
  --vp-c-brand-lighter: #eb5035;
  --vp-c-brand-lightest: #ec7763;
  --vp-c-brand-dark: #f12b08;
  --vp-c-brand-darker: #b83515;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

@font-face {
  font-family: Conthrax;
  src: url("/public/Conthrax.ttf") format("truetype");
}

.title-font {
  font-family: 'Conthrax';
}

.header-font {
  color: orange;
  font-family: 'Conthrax';
}

.VPLocalNavOutlineDropdown button[data-v-079b16a8] {
  display: none;
}

.toggle-layout-button {
  display: none;
}

.content[data-v-10119189]
{
  padding: 0 32px 15px;
}

.VPHome[data-v-d82743a8] {
  padding-bottom: 10px;
}

.content[data-v-c4b0d3cf] {
  padding: 0 32px 10px;
}

/**
 * Component: Rating
 * -------------------------------------------------------------------------- */

.rating-system {
  text-align: center;
  margin-top: 20px;
}
.stars {
  font-size: 20px;
  padding-bottom: 25px;
}
.stars span {
  cursor: pointer;
  color: #ffca28;
}
.stars span:hover {
  color: #ffa000;
}
.fas.fa-star {
  color: #ffca28;
}
.far.fa-star {
  color: #e0e0e0;
}


/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

::-webkit-scrollbar-thumb {
    background-color: #404041;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: #191b22;
}
::-webkit-scrollbar-track {
    background-color: #191b22;
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #f32314 20%,
    #fa7e2c
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -30deg,
    #f0bb0c 50%,
    #f38b14 50%
  );
  --vp-home-hero-image-filter: blur(10px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: lightgreen;
  --vp-custom-block-tip-text: darkgreen;
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: darkgreen;
  --vp-custom-block-tip-text: lightgreen;
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Style: Frame for gifs/photos
 * -------------------------------------------------------------------------- */

 .framed-gif {
  display: block;
  max-width: 100%;
  height: auto;
  border: 3px solid #ff994d;
  border-radius: 15px;
  box-shadow: 2px 5px 10px #000000;
  margin: 20px auto;
}

.framed-photo {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 2px 5px 10px #000000;
  margin: 20px auto;
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * Component: HomeClip
 * -------------------------------------------------------------------------- */

 #vuemastery-action {
  font-size: 16px;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 0.5s, color 0.5s;
  position: relative;
  font-weight: 600;
  background-color: var(--vt-c-green);
  color: #fff;
  margin-right: 18px;
  padding: 8px 1em 8px 3em;
}

.dark #vuemastery-action {
  color: var(--vt-c-indigo);
}

#vuemastery-action:hover {
  background-color: var(--vt-c-green-dark);
  transition-duration: 0.2s;
}

.dark #vuemastery-action:hover {
  background-color: var(--vt-c-green-light);
}

.icon-play {
  display: inline;
  position: absolute;
  left: 15px;
  top: 8px;
  margin-left: 2px;
  fill: currentColor;
  width: 1.5em;
}

.vuemastery-modal-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 30;
  transition: opacity 0.3s ease;
}

.vuemastery-modal-wrapper {
  display: block;
  box-sizing: border-box;
  border-radius: 8px;
  position: fixed;
  width: 75%;
  height: auto;
  padding: 0.5em;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
}

.dark .vuemastery-modal-wrapper {
  background-color: var(--vt-c-bg-soft);
}

.vuemastery-modal-content {
  margin-bottom: 10px;
}

.vuemastery-video-space {
  position: relative;
  padding: 56.25% 0 0 0;
}

.vuemastery-modal-footer-text {
  color: var(--vt-c-text-2);
  margin-bottom: 0.5em;
  text-align: center;
  word-spacing: 0.05em;
  font-size: 12px;
}

.vuemastery-modal-footer-text a {
  color: #42b983;
  font-weight: 600;
}

.dark .vuemastery-modal-footer-text {
  color: var(--vt-c-text-2);
  font-weight: 600;
}

@media (max-width: 576px) {
  #vuemastery-action {
    display: block;
    margin: 0px auto;
    width: 150px;
  }
}

/**
 * Component: ToSiteLink
 * -------------------------------------------------------------------------- */

 .fury-mastery-link {
  background-color: var(--vt-c-bg-soft);
  border-radius: 8px;
  padding: 8px 16px 8px 8px;
  transition: color 0.5s, background-color 0.5s;
}

.fury-mastery-link a {
  display: flex;
  align-items: center;
}

.fury-mastery-link .banner {
  background-color: var(--vt-c-white-soft);
  border-radius: 4px;
  width: 96px;
  height: 100px;
  object-fit: cover;
}

.fury-mastery-link .description {
  flex: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--vt-c-text-1);
  margin: 0 0 0 16px;
  transition: color 0.5s;
}

.fury-mastery-link .description span {
  color: #ff994d;
}

.fury-mastery-link .logo-wrapper {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--vt-c-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fury-mastery-link .logo-wrapper img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

@media (max-width: 576px) {
  .fury-mastery-link .banner {
    width: 56px;
    height: 100px;
  }

  .fury-mastery-link .description {
    font-size: 12px;
    line-height: 18px;
  }
  .fury-mastery-link .logo-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
  }
}

/**
 * Component: NextSteps
 * -------------------------------------------------------------------------- */

.next-steps {
  margin-top: 10px;
}

.next-steps .vt-box {
  border: 1px solid var(--vt-c-bg-soft);
}

.next-steps .vt-box:hover {
  border-color: #fa7e2c;
  transition: border-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.next-steps-link {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin-bottom: 0.75em;
  display: block;
  color: #fa7e2c;
}

.next-steps-caption {
  margin-bottom: 0;
  color: var(--vt-c-text-2);
  transition: color 0.5s;
}

/**
 * Anim
 * -------------------------------------------------------------------------- */
